<!-- artist-form.component.html -->
<mat-card class="form-container">
  <mat-toolbar color="primary">
    <span>Artist Registration Form</span>
    <button mat-icon-button (click)="closeDialog()" style="margin-left: auto;">
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar>

  <form [formGroup]="artistForm" class="form-content">
    <div class="form-row">
      <mat-form-field class="form-group" appearance="outline">
        <mat-label>Artwork Title</mat-label>
        <input matInput formControlName="artworkTitle" placeholder="Please Enter Your Artwork Title">
      </mat-form-field>

      <mat-form-field class="form-group" appearance="outline">
        <mat-label>Artwork Type</mat-label>
        <input matInput formControlName="artworkType" placeholder="Please Enter Your Artwork Type">
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field class="form-group" appearance="outline">
        <mat-label>Type of Rights</mat-label>
        <mat-select formControlName="typeofrights">
          <mat-option value="C-Composer">C-Composer</mat-option>
          <mat-option value="A-Author/Lyricist">A-Author/Lyricist</mat-option>
          <mat-option value="AR-Arranger">AR-Arranger</mat-option>
          <mat-option value="E-Publisher">E-Publisher</mat-option>
          <mat-option value="Producer">Producer</mat-option>
          <mat-option value="Performer">Performer</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="form-group" appearance="outline">
        <mat-label>Right Holder Name</mat-label>
        <input matInput formControlName="rightholdername" placeholder="Please Enter Your Right Holder Name">
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field class="form-group" appearance="outline">
        <mat-label>Date of Birth</mat-label>
        <input matInput type="date" formControlName="dob">
      </mat-form-field>

      <mat-form-field class="form-group" appearance="outline">
        <mat-label>Work Mode</mat-label>
        <mat-select formControlName="workmode">
          <mat-option value="Groups">Groups</mat-option>
          <mat-option value="Individual">Individual</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="button-container">
      <button mat-raised-button color="primary" (click)="generateControlNumber()">Submit</button>
    </div>
  </form>
</mat-card>
