<div class="container">
  <h1>keep your artwork information carefully. make sure you have filled every space that you have been assigned</h1>
  

<div class="form-container">
  <div class="form-row">
    <div class="form-group">
      <label for="artworkTitle">Artwork Title</label>
      <input type="text" id="artworkTitle" name="artworkTitle" placeholder="Please Enter Your Artwork Title">
    </div>

    <div class="form-group">
      <label for="artworkType">Artwork Type</label>
      <input type="text" id="artworkType" name="artworkType" placeholder="Please Enter Your Artwork Type">
    </div>
  </div>

  <div class="form-row">
    <div class="form-group">
      <label for="typeofrights">Type of Rights </label>
      <select id="typeofrights" name="typeofrights">
        <option value="C-Composer">C-Composer</option>
        <option value="A-Author/Lyricist">A-Author/Lyricist</option>
        <option value="AR-Arranger">AR-Arranger</option>
        <option value="E-Publisher">E-Publisher</option>
        <option value="Producer">Producer</option>
        <option value="Performer">Performer</option>
      </select>
    </div>

    <div class="form-group">
      <label for="rightholdername">Right Holder Name</label>
      <input type="text" id="rightholdername" name="rightholdername" placeholder="Please Enter Your Right Holder Name">
    </div>
  </div>

  <div class="form-row">
    <div class="form-group">
      <label for="dob">Date of Birth</label>
      <input type="date" id="dob" name="dob">
    </div>

    <div class="form-group">
      <label for="workmode">Work Mode</label>
      <select id="workmode" name="workmode">
        <option value="Groups">Groups</option>
        <option value="Individual">Individual</option>
      </select>
    </div>
  </div>

  <div class="button-container">
    <button type="button" class="btn-green">Generate Control Number</button>
  </div>
</div>