<div class="register-container">
    <mat-card class="register-card">
      <h2 class="register-title">User Registration</h2>
      <form (ngSubmit)="onRegister()">
        <div style="text-align: center">
          <img src="assets/img/photos/logo.jpg" class="login-logo" />
        </div>

        <!-- Name -->
        <mat-form-field class="form-field" appearance="outline">
          <mat-label for="name">Name</mat-label>
          <input matInput type="text" id="name" name="name" [(ngModel)]="registerObj.Name" required />
        </mat-form-field>
  
        <!-- Address -->
        <mat-form-field class="form-field" appearance="outline">
          <mat-label for="address">Address</mat-label>
          <textarea matInput id="address" name="address" [(ngModel)]="registerObj.Address" required></textarea>
        </mat-form-field>
  
        <!-- Email -->
        <mat-form-field class="form-field" appearance="outline">
          <mat-label for="email">Email</mat-label>
          <input matInput type="email" id="email" name="email" [(ngModel)]="registerObj.Email" required />
        </mat-form-field>
  
        <!-- Phone -->
        <mat-form-field class="form-field" appearance="outline">
          <mat-label for="phone">Phone</mat-label>
          <input matInput type="tel" id="phone" name="phone" [(ngModel)]="registerObj.Phone" required />
        </mat-form-field>
  
        <!-- Submit Button -->
        <button mat-raised-button type="submit" style="background-color: #009688; color: #fff; width: 100%" class="btn">
          <span class="fa fa-sign-in"></span>
          Register
        </button>

  
        <!-- Error Message -->
        <div *ngIf="errorMessage" style="color: red; text-align: center; margin-top: 10px;">
          {{ errorMessage }}
        </div>
      </form>
    </mat-card>
  </div>
  
