<body>
    <div class="container">
        <div class="header">
            <h2>YA KAMMAR INDUST</h2>
            <h3>THE OFFICE OF THE COPYRIGHT SOCIETY OF ZANZIBAR</h3>
            <h3>APPLICATION FORM</h3>
            <h4>APPLICATION NO. .........</h4>
        </div>

        <form action="nextpage.html" method="post">
            <div class="form-group">
                <label for="proprietor">I/ We proprietor(s) Manager(s) Of:</label>
                <input type="text" id="proprietor" name="proprietor" placeholder="Name(s) of Proprietor(s)/Manager(s)" required>
            </div>

            <div class="form-group">
                <label for="license">Apply for license to Hold public performances of work in which copyright and related rights subsist:</label>
                <textarea id="license" name="license" placeholder="Details of the license application" rows="4" required></textarea>
            </div>
           
            <div class="form-group">
                <label for="date">Date:</label>
                <input type="date" id="date" name="date" required>
            </div>

            <button type="submit" class="submit-btn">Next</button>
        </form>
    </div>
</body>