<div class="form-word ">
<h1 class="form-word ">COPYRIGHT SOCIETY OF ZANZIBAR</h1>




<div class="container">
<div class="form-container">
    
    <h2 class="form-title">LOGIN</h2>
    <form>
        
            
            <img src="assets/img/photos/logo.jpg" class="login-logo">
        

       

        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
           

        </div>

        <div class="form-group">
            <label for="password">Password:</label>
            <input type="text" id="password" name="password" required>
            

        </div>

        <button type="button" class="btn" (click)="onLogin()">Login</button>

       
        
   