<nav id="sidebar" class="sidebar js-sidebar">
    <div class="sidebar-content js-simplebar">
        <a class="sidebar-brand" routerLink="/user/user-dashboard">
            <span class="align-middle">{{ "COSOZA" }}</span>
        </a>

        <ul class="sidebar-nav">
            <li class="sidebar-header">
                Home 
            </li>

            <li class="sidebar-item" routerLinkActive="active">
                <a class="sidebar-link" routerLink="/user/user-dashboard">
                    <i class="align-middle" data-feather="home"></i> <span class="align-middle">Dashboard</span>
                </a>
            </li>

            <li class="sidebar-header">
                Application
            </li>
            <li class="sidebar-item" routerLinkActive="active">
                <a class="sidebar-link" routerLink="/user/application-form">
                    <i class="align-middle" data-feather="users"></i> <span class="align-middle">Payment issue</span>
                </a>
            </li>

            <li class="sidebar-item" routerLinkActive="active">
                <a class="sidebar-link" routerLink="/user/make-payment">
                    <i class="align-middle" data-feather="users"></i> <span class="align-middle">  Make-Payment</span>
                </a>
            </li>

    

            <li class="sidebar-item" routerLinkActive="active">
                <a class="sidebar-link" routerLink="/login">
                    <i class="align-middle" data-feather="payment"></i> <span class="align-middle">Login and Register User</span>
                </a>
            </li>
        </ul>
    </div>
</nav>

