<nav id="sidebar" class="sidebar js-sidebar">
    <div class="sidebar-content js-simplebar">
        <a class="sidebar-brand" routerLink="/app/dashboard">
            <span class="align-middle">{{ "COSOZA" }}</span>
        </a>

        <ul class="sidebar-nav">
            <li class="sidebar-header" *ngIf="role?.role === 'ADMIN'">
                Home
            </li>

            <li class="sidebar-item" routerLinkActive="active" *ngIf="role?.role === 'ADMIN'">
                <a class="sidebar-link" routerLink="/app/dashboard">
                    <i class="align-middle" data-feather="home"></i> <span class="align-middle">Dashboard</span>
                </a>
            </li>

            <li class="sidebar-header" *ngIf="role?.role === 'ADMIN'">
                Managament
            </li>


             <li class="sidebar-item" routerLinkActive="active" *ngIf="role?.role === 'ADMIN'">
                <a class="sidebar-link" routerLink="/app/user-manage">
                    <i class="align-middle" data-feather="users"></i> <span class="align-middle">Registered Users</span>
                </a>
            </li>

            <li class="sidebar-item" routerLinkActive="active">
                <a class="sidebar-link" routerLink="/app/manage-cert-and-license">
                    <i class="align-middle" data-feather="users"></i> <span class="align-middle">Manage Cert and License</span>
                </a>
            </li>

            <li class="sidebar-item" routerLinkActive="active">
                <a class="sidebar-link" routerLink="/app/view-all-application">
                    <i class="align-middle" data-feather="users"></i> <span class="align-middle">View all application</span>
                </a>
            </li>






            <li class="sidebar-header">
                Other
            </li>

            <li class="sidebar-item" routerLinkActive="active">
                <a class="sidebar-link" routerLink="/app/artwork">
                    <i class="align-middle" data-feather="users"></i> <span class="align-middle">View ArtWorks</span>
                </a>
            </li>

            <li class="sidebar-item" routerLinkActive="active">
                <a class="sidebar-link" routerLink="/app/view-payment">
                    <i class="align-middle" data-feather="payment"></i> <span class="align-middle">View-Payment</span>
                </a>
            </li>

            <li class="sidebar-item" routerLinkActive="active">
                <a class="sidebar-link" routerLink="/app/configuration">
                    <i class="align-middle" data-feather="settings"></i> <span class="align-middle">Configurations</span>
                </a>
            </li>

            <li class="sidebar-header" *ngIf="role?.role === 'ADMIN'">
                Reports
            </li>
            <li class="sidebar-item" routerLinkActive="active" *ngIf="role?.role === 'ADMIN'">
                <a class="sidebar-link" routerLink="/app/pages-sign-in.html">
                    <i class="align-middle" data-feather="clipboard"></i> <span class="align-middle">Reports</span>
                </a>
            </li>

            <!-- <li class="sidebar-header"> -->


        </ul>
    </div>
</nav>
