<body>
    <div class="container">
        <h1>License Contract</h1>
        <div class="contract">
            <p>The UNDERSIGNED (hereinafter called "the Licensee") hereby agrees with the OFFICE OF THE COPYRIGHT SOCIETY OF ZANZIBAR (hereinafter called "the Office" which term shall include its Agents as follows:</p>

            <ol>
                <li>
                    The OFFICE hereby grants to the Licensee, Licensee's servants or agents (subject to the provisions hereof and to the conditions endorsed hereon) a LICENCE to perform/broadcast any and every musical work/audiovisual and cinematographic works, including any words associated therewith, for the time being in the repertoire of the Society and of the foreign societies for the time being affiliated thereto, at the premises (hereinafter called "the premises hereby licensed") known as
                    <br>And in the following manner:
                </li>
                <li>
                    The LICENSEE shall furnish the Office / its Agent with such information as the society shall from time to time require to enable the society to calculate the fees payable in accordance with any revision of tariff.
                </li>
                <li>
                    THE LICENSEE shall pay to the Office / its Agent the following fees: T. Shs... annually in advance within 30 days of the receipt of this letter / and the anniversary month in each succeeding year (the month of "the anniversary month") In a year hereinafter referred to as
                </li>
                <li>
                    The fees in Clause 3 above were calculated according to the Office's Tariff.
                </li>
                <li>
                    Any license fee payable by the licensee in terms of this agreement which remains unpaid for a period in excess of two calendar months from the date of which it became due, shall attract interest at the prevailing legal rate as stipulated in the tariffs. Such interest shall be calculated monthly in advance and shall be payable by licensee to the Office / its Agent on demand.
                </li>
                <li>
                    Should the Office/its Agent, through failure on the part of the licensee to comply with obligations imposed on the licensee in terms of this agreement, find it necessary to institute legal proceedings against the licensee, the licensee shall be liable for all costs arising from such legal proceedings.
                </li>
                <li>
                    The Office / its Agent shall have the right of free entry in and upon the premises during all times of public performance, for the purpose of checking the particulars on which the fee under this license is assessed as well as compliance with the terms and conditions of the license.
                </li>
            </ol>
        </div>
    </div>
</body>