

<section class="events-news">
  <div class="event">
      <div class="date">
          <span>6</span>
          <p>August 2024</p>
      </div>
      <img src="/assets/img/photos/p1.jpg" alt="Contract License">
      <h3>Information about the License</h3>
      <p>COSOZA office provides higher education Licenses that are required to be paid for in order to use the intellectual property rights of artists to earn their daily livelihood.</p>
  </div>
  <div class="event">
      <div class="date">
          <span>1</span>
          <p>August 2024</p>
      </div>
      <img src="/assets/img/photos/p2.jpg" alt="Burn a CD">
      <h3>Burn a CD</h3>
      <p>The copyright registrar's office should destroy CDs seized from unlicensed sellers and shadow workers.</p>
  </div>
  <div class="event">
      <div class="date">
          <span>25</span>
          <p>July 2024</p>
      </div>
      <img src="/assets/img/photos/p6.jpg" alt="Audio and Video Recorder Dealers and Rentals Seminar">
      <h3>Audio and Video Recorder Dealers and Rentals Seminar</h3>
      <p>COSOZA is organizing a seminar to educate sellers and renters of audio and video recorders</p>
  </div>
</section>
<section>
    <app-apply-for-registration></app-apply-for-registration>
</section>
