<div class="container">
    
    <div class="content">
      <div class="header">
        <h2>COPYRIGHT SOCIETY OF ZANZIBAR</h2>
        <p>Online application registration and licensing  System</p>
      </div>
      <div class="Artist and Licensee-application">
        <h3>Artist and Licensee for application</h3>
        <p>Click <a href="#">here</a> to read application guideline before applying for registration and licensing.</p>
        <p>For any assistance contact us through 0787 372  129 from 08:00 am to 05:00 pm</p>
        <div class="artist-type">
          <div class="artist">
            <h4>ARTIST</h4>
            <p>(for an artist who is new, he can start his application here for the registration of his intended work)</p>
            <button>ARTIST</button>
          </div>
          <div class="licensee">
            <h3>LICENSE USER</h3>
            <p>(for a business person who is new, he should start here to apply for a license)</p>
            <button>LICENSEE</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  

  